In [1]:
import pandas as pd
import json 
from pathlib import Path
from importlib.resources import files
import os
import datetime as dt

In [2]:
# extract path config 
p = files("path_adapter.configs").joinpath(f"io/paths.win.json")
path_config = json.loads(p.read_text())
path_config

{'input': {'raw_from_email': '/mnt/c/Users/ZheRao/OneDrive - Monette Farms/Desktop/Work Files/Projects/7-PATH'},
 'output': {'silver': 'placeholder', 'gold': 'placeholder'}}

In [3]:
# read .csv from windows default folder from Power Automate
raw_path = path_config["input"]["raw_from_email"]
os.listdir(raw_path)

['zheSO-2026-1-11.csv',
 'zheSO-2026-1-12.csv',
 'zheSO-2026-1-13.csv',
 'zheSO-2026-1-14.csv']

In [4]:
## determine today's file

prefix = "zheSO"
today = dt.datetime.today()
try:
    df = pd.read_csv(f"{raw_path}/{prefix}-{today.year}-{today.month}-{today.day}.csv")
    print(f"Reading today's ({today.year}-{today.month}-{today.day}) PATH {prefix} file\n")
except:
    try: 
        df = pd.read_csv(f"{raw_path}/{prefix}-{today.year}-{today.month}-{today.day-1}.csv")
        print(f"Reading yesterday's ({prefix}-{today.year}-{today.month}-{today.day-1}) PATH {prefix} file\n")
    except:
        print("File doesn't exist, check Power Automate flow")

Reading today's (2026-1-14) PATH zheSO file

In [7]:
df.columns

Index(['Commodity', 'Customer', 'Sales Order', 'Packing Plant', 'Ship Week',
       'Line Item', 'Line Capability', 'CAD Price Per LB', 'CAD Price',
       'Currency', 'Delivered Weight', 'Exchange Rate', 'Item Weight',
       'Master Item', 'Order Status', 'Paid on Delivery', 'Pallet Type',
       'Product Weight', 'Quantity', 'Sale Price', 'Sale Price Per LB',
       'Ship Date.Day', 'Ship Date.Month', 'Ship Date.Year', 'Shipping Notes',
       'Sold Quantity', 'Weight'],
      dtype='object')

In [20]:
sample = df.tail(n=10)

In [21]:
cols = ['Commodity', 'Customer', 'Sales Order', 'Packing Plant', 'Ship Week', 'Line Item', 'Line Capability']
sample.loc[:,cols]

,Commodity,Customer,Sales Order,Packing Plant,Ship Week,Line Item,Line Capability
4516,Cabbage,"Harvest Best, Inc.",MO260111,Yuma Cooling,3,100445 - Cabbage 45lb Regular Harvest Best AZ,AZ Field Packing
4517,Cabbage,"Harvest Best, Inc.",MO260112,Yuma Cooling,3,100445 - Cabbage 45lb Regular Harvest Best AZ,AZ Field Packing
4518,Cabbage,"Harvest Best, Inc.",MO260107,Yuma Cooling,3,100445 - Cabbage 45lb Regular Harvest Best AZ,AZ Field Packing
4519,Broccoli,Ballesteros Packing,MO253576,Adjusting Orders,50,100246 - Broccoli Asian Harvest best Iced AZ,AZ Field Packing
4520,Broccoli,Ballesteros Packing,MO253586,Adjusting Orders,49,100246 - Broccoli Asian Harvest best Iced AZ,AZ Field Packing
4521,Broccoli,Ballesteros Packing,MO253587,Adjusting Orders,49,100246 - Broccoli Asian Harvest best Iced AZ,AZ Field Packing
4522,Broccoli,Ballesteros Packing,MO253564,Adjusting Orders,50,100246 - Broccoli Asian Harvest best Iced AZ,AZ Field Packing
4523,Broccoli,Ballesteros Packing,MO253565,Adjusting Orders,50,100246 - Broccoli Asian Harvest best Iced AZ,AZ Field Packing
4524,Broccoli,"Harvest Best, Inc.",MO260097,Yuma Cooling,2,100248 - Broccoli Asian Fu Choy Non Iced AZ,AZ Field Packing
4525,Broccoli,"Harvest Best, Inc.",MO260071,Yuma Cooling,2,100248 - Broccoli Asian Fu Choy Non Iced AZ,AZ Field Packing

In [22]:
cols2 = ['CAD Price Per LB', 'CAD Price','Currency', 'Delivered Weight', 'Exchange Rate', 'Item Weight']
sample.loc[:,cols2]

,CAD Price Per LB,CAD Price,Currency,Delivered Weight,Exchange Rate,Item Weight
4516,0.27,12.13183125,USD,NaN,1.386495,45
4517,0.27,12.13183125,USD,NaN,1.386495,45
4518,0.27,12.13148125,USD,NaN,1.386455,45
4519,0.71,14.2869062,USD,NaN,1.379045,20
4520,0.46,9.2374371316,USD,NaN,1.382850,20
4521,0.33,6.6929933708,USD,NaN,1.382850,20
4522,0.84,16.808549634,USD,NaN,1.377750,20
4523,0.97,19.3436095788,USD,NaN,1.377750,20
4524,0.62,12.48192,USD,NaN,1.386880,20
4525,0.62,12.454515,USD,NaN,1.383835,20

In [23]:
cols3 = ['Master Item', 'Order Status', 'Paid on Delivery', 'Pallet Type','Product Weight', 'Quantity', 'Sale Price', 'Sale Price Per LB',]
sample.loc[:,cols3]

,Master Item,Order Status,Paid on Delivery,Pallet Type,Product Weight,Quantity,Sale Price,Sale Price Per LB
4516,False,Unpacked,NaN,Brown Board,45,770,8.75,$0.19
4517,False,Unpacked,NaN,Brown Board,45,770,8.75,$0.19
4518,False,Unpacked,NaN,Brown Board,45,770,8.75,$0.19
4519,False,Exported,NaN,Brown Board,0.65,"1,215",10.36,$0.52
4520,False,Exported,NaN,Brown Board,0.65,560,6.68,$0.33
4521,False,Exported,NaN,Brown Board,0.65,"1,232",4.84,$0.24
4522,False,Exported,NaN,Brown Board,0.65,"1,120",12.2,$0.61
4523,False,Exported,NaN,Brown Board,0.65,320,14.04,$0.70
4524,False,Verified,NaN,Brown Board,0.65,448,9,$0.45
4525,False,Verified,NaN,Brown Board,0.65,672,9,$0.45

In [24]:
cols4 = ['Ship Date.Day', 'Ship Date.Month', 'Ship Date.Year', 'Shipping Notes','Sold Quantity', 'Weight']
sample.loc[:,cols4]

,Ship Date.Day,Ship Date.Month,Ship Date.Year,Shipping Notes,Sold Quantity,Weight
4516,15,January,2026,(blank),770,"34,650"
4517,17,January,2026,(blank),770,"34,650"
4518,13,January,2026,(blank),770,"34,650"
4519,10,December,2025,(blank),"1,215","24,300"
4520,6,December,2025,(blank),560,"11,200"
4521,6,December,2025,(blank),"1,232","24,640"
4522,12,December,2025,(blank),"1,120","22,400"
4523,12,December,2025,(blank),320,"6,400"
4524,10,January,2026,(blank),448,"8,960"
4525,9,January,2026,(blank),672,"13,440"

In [31]:
df['Order Status'].value_counts()

Order Status
Exported    4146
Shipped      176
Verified     127
Unpacked      70
Packed         7
Name: count, dtype: int64

unpacked - nothing processed

packed - packed, ready to shipped

shipped - sent to customer

verified - sales verifies the price, ready sent to QBO

exported - already in QBO

In [27]:
df["Customer"].value_counts()

Customer
Loblaws                               876
Legend Produce, LLC                   808
Little Potato Company                 389
Sunfresh Farms Ltd.                   284
Prairie Fresh Food                    205
                                     ...
Northern Konstar Seed Potatoes CAD      1
Veg Fresh                               1
Berry Barn                              1
Yuma Cooler                             1
Historic Hat Creek Ranch                1
Name: count, Length: 68, dtype: int64